<div class="card border-dark mb-3" >
    <div class="card-header">Kosár</div>

    <div *ngFor="let tetel of tetelek" class="card border-dark mb-3" >
          <div class="card-body text-dark">
          <h5 class="card-title">{{keresNoveny(tetel.id).megnevezes}}</h5>
          
            <div class="input-group input-group-sm mb-3">
                
                <input (change)="valtozas(tetel)"  [(ngModel)]="tetel.db" min="1" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                <span class="input-group-text" id="inputGroup-sizing-sm">
                dbx{{keresNoveny(tetel.id).ar}}Ft =
                {{tetel.db*keresNoveny(tetel.id).ar}}Ft 
                </span>
            </div>
          
           
        </div>
        <button (click)="tetelTorlese(tetel)" type="button" class="btn btn-secondary btn-sm">
            Tétel törlése
        </button>
    </div>

</div>

{{tetelek|json}}
